<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleName</key>
	<string>FloorPlan</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	<key>CPDescription</key>
	<string>
		FloorPlan is a simple app to help you design the floor plan of your new apartment. The demo uses several collection views and collection view delegate methods. It also shows how to implement drag and drop, copy and paste, and undo and redo.
	</string>
</dict>
</plist>
