<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleName</key>
	<string>iTunes Layout</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	<key>CPDescription</key>
	<string>
		Showcases the absolute basics of autoresizing masks. Play around with resizing your browser window to see the effects of the various masks, then look at the code to see how to put it together.
	</string>
</dict>
</plist>
