<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleName</key>
	<string>Scrapbook Part 1</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	<key>CPDescription</key>
	<string>
		Part 1 of a multi-part application tutorial. This part shows how to handle mouse events, and how to perform simple transformations like scaling and rotation to an image.
	</string>	
</dict>
</plist>
